a{text-decoration: none;}
 li{list-style-type: none;}
 @font-face {
    font-family: FredokaOne-Regular; /* Гарнитура шрифта */
    src: url(fonts/FredokaOne-Regular.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face
   {
     font-family: Quicksand-Bold; /* Гарнитура шрифта */
    src: url(fonts/Quicksand-Bold.ttf); /* Путь к файлу со шрифтом */
   }
      
      @font-face
   {
     font-family: Quicksand-Light; /* Гарнитура шрифта */
    src: url(fonts/Quicksand-Light.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face
   {
     font-family: Quicksand-Regular; /* Гарнитура шрифта */
    src: url(fonts/Quicksand-Regular.ttf); /* Путь к файлу со шрифтом */
   }
         body
        {
         position: relative;
         margin-left: 0;margin: 0 auto;
         width: 1280px;
        }
        header
        {
         margin-bottom: -5px;
        }
        header ul{
         display: inline-block;
        }
        #logo
        {
        position: relative;
        top: 8px;
         margin-left: 3.9%;
         }
         .navigation 
       {
         margin-left: 82px;
        margin-top: -23px;
        color: black;
        font-size: 17px;
         height: 30px;
       }
        .navigation > li
       {
         display: inline;
         padding: 15px;
         font-size: 13.5px;
         font-weight: 500;
         font-family: FredokaOne-Regular, sans-serif;
         color:#45413e;
       }
       
      .navigation a 
       {
        color: #45413e;
       }
      .navigation > li:first-child
      {
         padding-right: 50px;
        background-image: url(images/strelka.gif);
        background-repeat: no-repeat;
        background-position:90%;
      }
       
       .navigation > li:last-child
        {
            margin-left: 28px;
        }
        
       #categories
       {
         display: none;
         padding-left: 0px;
         padding-right: 0px;
         padding-bottom: 20px;
         border-radius: 10px;
         width: 190px;
         position: absolute;
         top: 70px;
         left: 340px;
         background-color: white;
         font-family: Quicksand-Regular;
       }
      #categories li
       {
         color: grey;
        padding-left: 35px;
        padding-right: 25px;
       }
       #categories li:hover
       {
        color: black;
        background-color: #e3e3e3;
       }
       #strelka
       {
         position: relative;
        top: -3px;
        margin-left: 26px;
        }
        
        #block_for_lang{width: 73px;display: inline-block;}
        #change_lang_and_val
        {
         width: 170px;
         margin-left: 32px;
         color: black;
        font-size: 17px;
        }
         #change_lang_and_val a
        {
         color: #aeacab;
        }
         #change_lang_and_val a:hover
        {
         color: grey;
        }
        #change_lang_and_val li
        {
         display: inline;
         padding: 18px;
         font-size: 13.5px;
         font-weight: 500;
         font-family: FredokaOne-Regular, sans-serif;
        }
        #change_lang_and_val img
        
        {  
           margin-left: 10px;
        }
        
       #lang
        {
         width: 50px;
         display: none;
         padding-left: 25px;
         padding-right: 5px;
         background-color: white;
         position: absolute;
         left: 798px;
         border-radius: 5px;
        }
        #lang li
        {
         margin-left: -20px;
         padding-bottom: 4px;
         display: block;
        }
        #lang li a{
         color: #aeacab;
         }
         #lang li a:hover{
         color: grey;
         }

          #val
        {
         transition-property: background-color;
         transition-duration: 3s;
         display: none;
         width: 70px;
         padding-left: 25px;
         padding-right: 5px;
         background-color: white;
         position: absolute;
         left: 878px;
         border-radius: 5px;
        }
        #val li
        {
         margin-left: -20px;
         padding-bottom: 4px;
         display: block;
        }
        #val li a{
         color: #aeacab;
         }
         #val li a:hover{
         color: grey;
         }
       /* users panel*/
        #user_panel
        {
         margin-left: -23px;
         height: 30px;
        }
        #user_panel li
        {
         display: inline;
         padding: 18.2px;
        }
        #ellipse1
        {
         z-index: 1000;
         margin-bottom: 14px;
        margin-left: -14px;
        }
        .digit
        {
         position: relative;
         top: -18px;
         margin-left: -15.5px;
         font-family:Quicksand-Bold, sans-serif;
         color: #816fca;
         font-size: 12px;
        }
        
        #ellipse2
        {
         z-index: 1000;
         margin-bottom: 14px;
        margin-left: -14px;
        }
        #loupe{margin-left: 3px;}
        #basket{margin-left: -9px;}
        #heart{margin-left: -5px}
        
        
      /*page*/
        #page
        {
            background-color:#83d38c;
            margin-top: 5px;
         }
            /*links gome/shop*/
         .home_shop
         {
           padding-top:  50px;
           text-align: center;
          
         }
         .home_shop a
         {   
            padding-right: 8px;
            padding-left: 20px;
            font-size: 13px;
            font-family:Quicksand-Light, sans-serif;
            font-weight: 600;
            color: black;
         }
         .home_shop a span
         {
            color:white;
         }
         
        /*lines left right by ArviTheme*/
        .line
        {
         height: 3px;
         background-color: white;
         width: 395px;
          margin-top: 44.5px;

        }
        #left_line
        {
         margin-left: 52px;
        
        float: left;
         
        }
         #right_line 
         {
            margin-right: 58px;
            float: right;
        }
        
        /*ArviTheme in centr*/
        #arvi_theme
        {
          margin-top: 13px;
          text-align: center;
          color: white;
          font-family: HelveticaNeue, Arial,  sans-serif;
          font-weight: 500;
          font-size: 46px;
          
        }
        #theme_word{margin-left: -3.5px;}
        
        /*panel_of_settings*/
        .settings
        {
         margin-right: 60px;
          margin-left: 50px;
         margin-top: 45px;
         height: 168px;
         background-color: white;
         border-radius: 5px;
        }
        .settings ul
        {
         margin-top: 30px;
         padding: 0px;
         width: 25%;
         float: left;
        }
        #price span
        {
         padding-right: 25px;
        font-family:Quicksand-Bold;
        font-size: 14px;
        }
        #color span
        {
         padding-right: 20px;
        font-family:Quicksand-Bold;
        font-size: 14px;
        }
         #brands span
        {
         padding-right: 13px;
        font-family:Quicksand-Bold;
        font-size: 14px;
        }
         #sort span
        {
         padding-right: 11px;
        font-family:Quicksand-Bold;
        font-size: 14px;
        }
         #size span
        {
         padding-right: 25px;
        font-family:Quicksand-Bold;
        font-size: 14px;
        }
        #show span
        {
         padding-right: 25px;
        font-family:Quicksand-Bold;
        font-size: 14px;
        }
        #first_settings{padding-right: 112px; padding-left: 32px;}
        #double_settings{padding-right: 145px;}
        
        #color span
        {
         float: left;
        }
        
        #price{padding-bottom: 40px;}
        #brands,#size{padding-bottom: 30px;} 
         .settings>div
         {
         padding-top: 2.188em;
         font-family: Quicksand-Bold;
         }

         .settings  select
         {
          width: 15.48em;
          height: 36px;
          border-radius: 20px;
          border-width: 2px;
          border-color: #a2a09e;
          font-family: Quicksand-Bold;
          text-align: center;
          padding-left: 14px;
          font-size: 13px;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-image: url('images/strelka.gif');
          background-position: 90% center;
          background-repeat: no-repeat;
         }

        .color_ellips
        {
         
         margin-right: 10px;
         float: left;
         height: 13px;
         width: 13px;
        border: 1px grey solid;
         border-radius: 100%;
         cursor: pointer;
        }
        #white{background-color: white; margin-left: 10px;}
         #light_blue{background-color: #43c0cf;}
        #hakki{background-color: #3d402f;}
        #green{background-color: #4aaf00;}
        #blue{background-color: #315bbd; }
        #orange{background-color: orange; }
        #red{background-color: red; }
         #grey{background-color: grey; }
         
         #size span{padding-right: 31px;}
          #digit_results 
         {
            margin-top: 28px;
            text-align: center;
             font-family: Quicksand-Bold;
             color: white;
             font-size: 14px;
         }
         
         /*results of search*/
         .all_results
         {
           margin-top: 33px;
           margin-left: 17px;
           
         }
         .all_results li
         {
            float: left;
            margin-bottom: 33px;
            margin-right: 29px;
            background-color: #f1f1f1;
            border-radius: 5px;
         }
         .all_results li:last-child
         {
            margin-bottom: 55px;
         }
         
         
         .product_name
         {
           
            width: 270px;
            padding-top: 10px;
            padding-bottom: 1px;
            background-color: white;
            border-radius: 5px;
         }
          .product_name p
         {
           margin-top: 0px;
           text-align: center;
           font-family: Quicksand-Bold;
            color: black;
            
         }

         .image_product img
         {
            width: 250px;
            height: 250px;
           margin-top: 8px;
           margin-left: 11px;
            border-radius: 5px;
         }
          
         #view_more
         {
            
            clear: both;
            margin: 0 auto;
            margin-top: 200px;
            text-align: center;
            width: 300px;
            height: 58px;
            border-radius: 5px 5px 0 0;
            background-color: #816fca;
            text-transform: uppercase; 
         }
          #view_more:hover
          {
            cursor: pointer
         }
           #view_more p
           {font-family: Quicksand-Bold;
            color: white;
            padding-top: 22px;
           }
          #view_more img
           {
            padding-left: 20px;
           }
         
         /*services(pered footerom)*/
         #services{
            padding-left: 15px;
            height: 195px;
            background-color:  #45413e;
            font-family: Quicksand-Bold;
            }
               #services div
               {
                  display: inline-block;
                  padding-top: 35px;
                  padding-left: 17px;
                  vertical-align: top;
                  width: 30%; 
               }
                     #services div img
                     {
                        float: left; padding: 20px;
                        padding-right: 40px;
                        padding-bottom: 30px;
                     }
            
                     #services div p
                     {
                        color: #868380;
                        font-size: 14px;
                        margin-top: -3px;
                        
                     }
                     #services h4
                     {
                        margin-top: 12px;
                           color: white;
                           font-size: 17px;
                     }
                      
         footer
         {
            width:100%;
            float: left;
            height: 450px;
            background-color: white;
            font-family: Quicksand-Bold;
            font-size: 12px;
         }
        footer span
        {
         
         font-size: 13px;
         font-weight:500;
         text-transform: uppercase;
         font-family: FredokaOne-Regular, Arial;
         color: black;

        }
        footer ul
        {
            margin-top: 40px;
            margin-left: 10px;
        }
        #copy{

         float: left;
         width: 20%;
         }
         #copy span{
         text-transform: none;
         font-family: Quicksand-Bold;
         color: #816fca; 
         }
        #kolonka1{
            float: left;
            width: 16%;
            }
        #kolonka1 li
        {    margin-left: 15px;
            text-align: left;
            padding: 8.5px;
        }
        #kolonka1 ul
        {
         margin-top: 40px;
        }
        #kolonka1 ul li:first-child
        {
         margin-top: -10px;
         margin-bottom: 10px
        }
        #kolonka2{
            float: left;
            width: 16%;
           margin-top: 34px;
            }
        #kolonka2 li  
        {
         margin-left: 5px;
         padding:8.5px;
            text-align: left;
        }
        #kolonka3{
            float: left;
            width: 16%;
             padding-top: 34px;
            }
        #kolonka3 li
        {
            text-align: left;
            padding: 8px;
        }
        
        #kolonka4
        {
            float: left;
         }
         
          #kolonka4 ul
        {
           margin-top: 40px;
            float: left;
         }
         #kolonka4 li
        {
            text-align: left;
            padding: 8px;
        }
        #kolonka4 ul li:first-child
        {
         margin-top: -10px;
         margin-bottom: 10px
        }
         #kolonka5
         {
         float: left;
         }
         #kolonka5 img
         {
         margin-left: 40px;
         }
            
            
         #toTop {

         border:1px solid #ccc;
         background:#fff;
         text-align:center;
         font-size: 15px;
          border-radius: 4px;
         font-family: cursive;
         padding:5px;
         position:fixed;
         bottom:20px; 
         right:20px;
         cursor:pointer;
         display:none;
         color:#333;

         }