a{text-decoration: none;}
 li{list-style-type: none;}
 @font-face {
    font-family: FredokaOne-Regular; /* Гарнитура шрифта */
    src: url(fonts/FredokaOne-Regular.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face
   {
     font-family: Quicksand-Bold; /* Гарнитура шрифта */
    src: url(fonts/Quicksand-Bold.ttf); /* Путь к файлу со шрифтом */
   }
      
      @font-face
   {
     font-family: Quicksand-Light; /* Гарнитура шрифта */
    src: url(fonts/Quicksand-Light.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face
   {
     font-family: Quicksand-Regular; /* Гарнитура шрифта */
    src: url(fonts/Quicksand-Regular.ttf); /* Путь к файлу со шрифтом */
   }
   body
        {
         position: relative;
         margin-left: 0;margin: 0 auto;
         width: 1280px;
        }
        header
        {
         margin-bottom: -5px;
        }
        header ul{
         display: inline-block;
        }
        #logo
        {
        position: relative;
        top: 8px;
         margin-left: 3.9%;
         }
         .navigation 
       {
         margin-left: 82px;
        margin-top: -23px;
        color: black;
        font-size: 17px;
         height: 30px;
       }
        .navigation > li
       {
         display: inline;
         padding: 15px;
         font-size: 13.5px;
         font-weight: 500;
         font-family: FredokaOne-Regular, sans-serif;
         color:#45413e;
       }
       
      .navigation a 
       {
        color: #45413e;
       }
      .navigation > li:first-child
      {
         padding-right: 50px;
        background-image: url(images/strelka.gif);
        background-repeat: no-repeat;
        background-position:90%;
      }
       
       .navigation > li:last-child
        {
            margin-left: 28px;
        }
        
       #categories
       {
         display: none;
         padding-left: 0px;
         padding-right: 0px;
         padding-bottom: 20px;
         border-radius: 10px;
         width: 190px;
         position: absolute;
         top: 70px;
         left: 340px;
         background-color: white;
         font-family: Quicksand-Regular;
       }
      #categories li
       {
         color: grey;
        padding-left: 35px;
        padding-right: 25px;
       }
       #categories li:hover
       {
        color: black;
        background-color: #e3e3e3;
       }
       #strelka
       {
         position: relative;
        top: -3px;
        margin-left: 26px;
        }
        
        #block_for_lang{width: 73px;display: inline-block;}
        #change_lang_and_val
        {
         width: 170px;
         margin-left: 32px;
         color: black;
        font-size: 17px;
        }
         #change_lang_and_val a
        {
         color: #aeacab;
        }
         #change_lang_and_val a:hover
        {
         color: grey;
        }
        #change_lang_and_val li
        {
         display: inline;
         padding: 18px;
         font-size: 13.5px;
         font-weight: 500;
         font-family: FredokaOne-Regular, sans-serif;
        }
        #change_lang_and_val img
        
        {  
           margin-left: 10px;
        }
        
       #lang
        {
         width: 50px;
         display: none;
         padding-left: 25px;
         padding-right: 5px;
         background-color: white;
         position: absolute;
         left: 798px;
         border-radius: 5px;
        }
        #lang li
        {
         margin-left: -20px;
         padding-bottom: 4px;
         display: block;
        }
        #lang li a{
         color: #aeacab;
         }
         #lang li a:hover{
         color: grey;
         }

          #val
        {
         transition-property: background-color;
         transition-duration: 3s;
         display: none;
         width: 70px;
         padding-left: 25px;
         padding-right: 5px;
         background-color: white;
         position: absolute;
         left: 878px;
         border-radius: 5px;
        }
        #val li
        {
         margin-left: -20px;
         padding-bottom: 4px;
         display: block;
        }
        #val li a{
         color: #aeacab;
         }
         #val li a:hover{
         color: grey;
         }
       /* users panel*/
        #user_panel
        {
         margin-left: -23px;
         height: 30px;
        }
        #user_panel li
        {
         display: inline;
         padding: 18.2px;
        }
        #ellipse1
        {
         z-index: 1000;
         margin-bottom: 14px;
        margin-left: -14px;
        }
        .digit
        {
         position: relative;
         top: -18px;
         margin-left: -15.5px;
         font-family:Quicksand-Bold, sans-serif;
         color: #816fca;
         font-size: 12px;
        }
        
        #ellipse2
        {
         z-index: 1000;
         margin-bottom: 14px;
        margin-left: -14px;
        }
        #loupe{margin-left: 3px;}
        #basket{margin-left: -9px;}
        #heart{margin-left: -5px}
        
        #items_in_basket
        {
         margin-left: -15px;
        }
        
        
      /*page*/
        #page
        {
            background-color:#f1edea;
            margin-bottom: -55px;
         }
            /*links gome/shop*/
         
         .home_shop
         {
           padding-top:  55px;
          text-align: center;
          
         }
         .home_shop a
         {   
            padding-right: 8px;
            padding-left: 20px;
            font-size: 13px;
            font-family:Quicksand-Light, sans-serif;
            font-weight: 600;
            color: black;
         }
         .home_shop a span
         {
            color:#816fca;
         }
          #archi_desk
          {
          margin-top: 13px;
          text-align: center;
          color: black;
          font-family: HelveticaNeue, Arial,  sans-serif;
          font-weight: 500;
          font-size: 46px;
         }
         
         #product_info
         {
           width: 1170px;
           margin-left: 55px;
           margin-right: 55px;
           margin-top: 50px;
           background-color: white;
           border-radius: 10px;
         }
         
         #big_photo
         {
            float: left;
            width: 598px;
            height: 570px;
            background-color: #83d38c;
            background-image: url(images_product/image1.jpg);
            background-size: cover;
            border-radius: 10px;
            margin-bottom: 50px;
            cursor: pointer;
         }
         #big_photo img
         {
            margin-top: 34px;
            margin-left: 28px;
         }
         #expand:hover
         {
            cursor: pointer;
            width: 20px;;
         }
         
         #little_photo_block
         {
            margin-top: 15px;
           margin-left: -16px;
           float: left;
         }
         #little_photo_block li:hover{cursor: pointer;}
         #litle_photo1{background-image: url(images_product/image1.jpg);  background-size: cover;}
         #litle_photo2{background-image: url(images_product/image2.jpg);  background-size: cover;}
         #litle_photo3{background-image: url(images_product/image3.jpg);  background-size: cover;}
         #litle_photo4{background-image: url(images_product/image4.jpg);  background-size: cover;}
         #litle_photo5{background-image: url(images_product/image5.jpg);  background-size: cover;}
         
          .little_photos
         { 
            margin-bottom: 24px;
            width: 75px;
            height: 70px;
            background-color: #c1e9c5;
            border-radius: 10px;
         }     
         #product_description
         {
            float: left;
            width: 450px;
           
         }
            
         #price
         {
            margin-left: 88px;
            font-size: 46px;
            font-family: Myriad Pro, Arial,  sans-serif;
         }
         
         #color_change
         {
            float: left;
            margin-left: 70px;
            margin-top: -15px;
         }
   
         #color_change select
         {
          width: 158px;
          height: 36px;
          border-radius: 20px;
          border-width: 2px;
          padding-left: 5px;
          border-color: #e8e2d6;
          font-family: Quicksand-Bold;
          text-align: center;
          font-size: 15px;
          color: #45413e;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-image: url('images/strelka.gif');
          background-position: 84% center;
          background-repeat: no-repeat;
         }       
         
         
         
         #amount_product
         {
            float: left;
            margin-left: -156px;
            margin-top: 43px;
            width: 95px;
            height: 36px;
            border: 2px #e8e2d6 solid;
            border-radius: 20px;
            padding-left: 10px;
            font-size: 15px;
            
         }
         
         #amount_product p
         {
          
         margin-top: 10px;
         text-align: center;
         font-family: Quicksand-Bold;
         color: #999999;
         -webkit-user-select: none;
         -moz-user-select: none;
         }
         #digit_order
         {
            width: 30px;
           padding-left: 15px;
           padding-right: 15px;
          color: #45413e;
            font-family: Quicksand-Bold;
         }
         #minus, #plus
         {
            cursor: pointer;
         }
         
         
         #add_to_cart
         {
            width: 155px;
            height: 43px;
            margin-left: -25px;
            margin-top: 40px;
            float: left;
            border-radius: 20px;
            background-color: #816fca;
            text-transform: uppercase; 
         }
         
         #add_to_cart p
         {
            font-size: 14px;
            margin-top: 12px;
            margin-left: 4px;
            text-align: center;
            font-family: Quicksand-Bold;
             color: white;
         }
         
         #about_product
         {
            float: left;
            margin-left: 70px;
            margin-top: 40px;
            margin-right: 30px;
            font-family:  Quicksand;
            font-weight: 500;
            line-height: 1.5;
         }
         
         #read_more
         {
            margin-left: 68px;
            margin-top: 300px;
            clear: both;
            font-family: Quicksand-Bold;
            color:#816fca;
         }
         #read_more:hover
         {
            cursor: pointer;
         }         
         #share_social
         {
            clear: both;
            margin-left: 68px;
            margin-top: 23px;
             font-family: Quicksand-Bold;
         }
         #share_social span
         {
            cursor: pointer;
            clear: both;
            padding-right: 20px;
         }
         #share_social img
         {
            margin-top: 6px;
         }
         
         .tabs
         {

            clear: both;
            width: 100%;
            height: 340px;
         }
         
         .tabs ul, .tabs li
         {
            margin: 0;
            padding: 0;
         }
         
         .tabs, .tabs input[type="radio"]:checked + label
         {
            position: relative;
         }
         
         .tabs li, .tabs input[type="radio"] + label
         {
            display: inline-block;
         }
         
         .tabs li > div, .tabs input[type="radio"]
         {
            position: absolute;
         }
         
         .tabs li > div 
         {
            border: solid 2px #e8e2d6;
         }
         
         .tabs
         {
            font:  17px Quicksand, Arial, Sans-serif;
            color: #404040;
         }
         
         .tabs li
         {
            vertical-align: top;
         }
         
         .tabs li:first-child
         {
            margin-left: 15.8%;
         }
         .tabs li > div
         {
            top: 65px;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-top: 52px;
            padding-left: 65px;
            padding-right: 80px;
            overflow: auto;
            background: #fff;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
         }
         
         
         .tabs input[type="radio"] + label
         {
            margin: -4px -3px 0 0;
            padding: 19px 42px;
            line-height: 30px;
            border: solid 2px white;
            background: white;
            text-align: center;
            border-radius: 15px 15px 0 0;
            cursor: pointer;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            font-family: FredokaOne-Regular;
            font-size: 24px;
         }
         
         .tabs input[type="radio"]:checked + label
         {
             border: solid 2px #e8e2d6;
             z-index: 999;
            background: #fff;
            border-bottom-color: #fff;
            cursor: default;
         }
         .tabs input[type="radio"]
         {
            opacity: 0;
         }
         .tabs input[type="radio"] ~ div
         {
            display: none;
         }
         
         .tabs input[type="radio"]:checked:not(:disabled) ~ div
         {
            display: block;
         }
         
         .tabs input[type="radio"]:disabled + label
         {
            opacity: 0.5;
            cursor: no-drop;
         }
         .tabs p
         {
            float: left;
            width: 430px;
            
         }
         #first_abzac
         {
            margin-right: 100px;
         }
         
         #popular_item{width: 100%;}
         
         .line
        {
         height: 3px;
         background-color:#e5e2df;
         width: 460px;
          margin-top: 13px;

        } 
        #left_line
        {   
        float: left;
         
        }
         #right_line 
         {
            float: right;
        }
         #popular_item_word
        {
          margin-top: 48px;
          text-align: center;
          color: #45413e;
          font-family: FredokaOne-Regular, Arial,  sans-serif;
          font-weight: 500;
          font-size: 24px;
          
        }
         
       
        #similar_products ul
        {
         clear: both;
          margin-left: 20px;
        }
        
         #similar_products li
         {
             
            float: left;
            margin-bottom: 33px;
            margin-right: 29px;
            background-color: #f1f1f1;
            border-radius: 5px;
         }
         #similar_products li:last-child
         {
            margin-bottom: 65px;
         }
          .product_name
         {
           
            width: 270px;
            padding-top: 10px;
            padding-bottom: 1px;
            background-color: white;
            border-radius: 5px;
         }
          .product_name p
         {
           margin-top: 0px;
           text-align: center;
           font-family: Quicksand-Bold;
            color: black;
            
         }

         .image_product img
         {
            width: 250px;
            height: 250px;
           margin-top: 8px;
           margin-left: 11px;
            border-radius: 5px;
         }

        #view_more
         {
            clear: both;
            margin: 0 auto;
            text-align: center;
            width: 300px;
            height: 58px;
            border-radius: 5px 5px 0 0;
            background-color: #816fca;
            text-transform: uppercase; 
         }
          #view_more:hover
          {
            cursor: pointer
         }
           #view_more p
           {font-family: Quicksand-Bold;
            color: white;
            padding-top: 22px;
           }
          #view_more img
           {
            padding-left: 20px;
           }
         
         /*services(pered footerom)*/
         #services{
            margin-top: 50px;
            padding-left: 15px;
            height: 195px;
            background-color:  #45413e;
            font-family: Quicksand-Bold;
            }
               #services div
               {
                  display: inline-block;
                  padding-top: 35px;
                  padding-left: 17px;
                  vertical-align: top;
                  width: 30%; 
               }
                     #services div img
                     {
                        float: left; padding: 20px;
                        padding-right: 40px;
                        padding-bottom: 30px;
                     }
            
                     #services div p
                     {
                        color: #868380;
                        font-size: 14px;
                        margin-top: -3px;
                        
                     }
                     #services h4
                     {
                        margin-top: 12px;
                           color: white;
                           font-size: 17px;
                     }
        footer
         {
            
            width:100%;
            float: left;
            height: 450px;
            background-color: white;
            font-family: Quicksand-Bold;
            font-size: 12px;
         }
        footer span
        {
         
         font-size: 13px;
         font-weight:500;
         text-transform: uppercase;
         font-family: FredokaOne-Regular, Arial;
         color: black;

        }
        footer ul
        {
            margin-top: 40px;
            margin-left: 10px;
        }
        #copy{

         float: left;
         width: 20%;
         }
         #copy span{
         text-transform: none;
         font-family: Quicksand-Bold;
         color: #816fca; 
         }
        #kolonka1{
            float: left;
            width: 16%;
            }
        #kolonka1 li
        {    margin-left: 15px;
            text-align: left;
            padding: 8.5px;
        }
        #kolonka1 ul
        {
         margin-top: 40px;
        }
        #kolonka1 ul li:first-child
        {
         margin-top: -10px;
         margin-bottom: 10px
        }
        #kolonka2{
            float: left;
            width: 16%;
           margin-top: 34px;
            }
        #kolonka2 li  
        {
         margin-left: 5px;
         padding:8.5px;
            text-align: left;
        }
        #kolonka3{
            float: left;
            width: 16%;
             padding-top: 34px;
            }
        #kolonka3 li
        {
            text-align: left;
            padding: 8px;
        }
        
        #kolonka4
        {
            float: left;
         }
         
          #kolonka4 ul
        {
           margin-top: 40px;
            float: left;
         }
         #kolonka4 li
        {
            text-align: left;
            padding: 8px;
        }
        #kolonka4 ul li:first-child
        {
         margin-top: -10px;
         margin-bottom: 10px
        }
         #kolonka5
         {
            float: left;
         }
            
         #kolonka5 img
         {
          margin-left: 40px;
         }
         #toTop
         {
         border:1px solid #ccc;
         background:#fff;
         text-align:center;
         font-size: 15px;
          border-radius: 4px;
         font-family: cursive;
         padding:5px;
         position:fixed;
         bottom:20px; 
         right:20px;
         cursor:pointer;
         display:none;
         color:#333;
         }